django==3.2.20
djangorestframework
django_cleanup
gtts
scikit-learn
networkx
matplotlib
django-cors-headers
sympy
djangorestframework-jwt
djangorestframework-recaptcha
pyBKT
pandas
numpy
django-extensions